@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
/* @font-face {
  font-family: "Modern Sans";
  src: url("Modern Sans 400.ttf") format("truetype");
} */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

#root {
  height: 100vh;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),  url(../../images/jigsaw-puzzle-giles-pegram-shutterstock-850x600.jpg);
  background-size:cover;
  background-position: right center;

}

.innerContainer {
  left: 50px;
  padding-top: 20px;
  display: grid;
  width: 40%;
  min-height: 300px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 5px;
  transition: box-shadow 0.6s;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )
 
}

.innerContainer {
  box-shadow: 5px 5px 25px 5px #e0ab8a;
}

.description {
  grid-template-rows: 1fr 1fr;
  text-align: justify;
  margin: 30px 10px 0 10px;
  color: rgb(248, 231, 231);
}

.LandingPageJoin {
  grid-template-columns: 1fr;
  align-content: center;
  margin-top: 50px;
  border-radius: 2px;
  padding: 12px 12px;
  width: 50%;
  font-size: 16px;
  background-color: rgb(252, 245, 245);
}

.heading {
  color: rgb(248, 231, 231);
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(248, 231, 231);
  text-shadow: 2px 1px 4px rgb(252, 202, 159);
}

.donationBtn {
  position: relative;
  color: rgb(5, 10, 26) !important;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 13px;
  border-radius: 10px;
  display: inline-block;
  width: 160px;
  height: 50px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 5px;
  outline: none;
  font-size: 18px;
  background-color: rgb(248, 231, 231);
}

.hideBtn,
.hideInput {
  display: none;
}

.error {
  grid-template-columns: 1fr;
  align-content: center;
  transition: 0.4s ease-in-out;
  color:rgba(173, 171, 32, 0.945);
  animation: wiggle 2.2s 3;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  2% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.appreciation {
  background-color: rgba(180, 177, 12, 0.945);
  font-weight: 300;
  box-sizing: border-box;
  border: 2px solid black;
  width: 90%;
  height: 30px;
  margin-left: 20px;
  margin-top: 30px;
  padding-top: 1px;
  color: rgb(248, 231, 231);
  animation: fadeAndScale 0.2s ease-in;
}
@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.exit {
  color: rgb(5, 10, 26) !important;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 0px;
  border-radius: 10px;
  display: inline-block;
  width: 70px;
  height: 35px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 25px;
  background: rgba(206, 92, 129, 0.6);
  transition: 0.4s ease-in-out;
  font-size: 16px;
  animation: fadeAndScale 0.2s ease-in;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
