.boxFrame {
  width: 250px;
  border: 1px solid #eaeaea;
  text-align: left;
}
.boxFrame_content {
  margin: 10px;
}
.container {
  margin: 2em auto;
  max-width: 630px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }
  .joinInnerContainer {
    width: 90%;
  }
}
button:focus {
  outline: 0;
}
