.progressBar_container {
  position: relative;
  height: 12px;
  border-bottom: 1px solid #eaeaea;
}
.progressBar_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  transition: ease-in-out 0.2s;
  animation: trail 1s ease-in;
}
@keyframes trail {
  0% {
    width: 0;
  }
}
